/*
  using selections of Tailwind's color palette:
    https://tailwindcss.com/docs/colors
*/
@import url("@react-aria/example-theme");
@import url(./tw-colors.css);

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* normal text */
  --dark-text: var(--tw-gray-100);
  --light-text: var(--tw-gray-800);
  --text: var(--dark-text);
  --inv-text: var(--light-text);
  /* headings */
  --dark-text-heading: var(--tw-white);
  --light-text-heading: var(--tw-gray-900);
  --text-heading: var(--dark-text-heading);
  --inv-text-heading: var(--light-text-heading);
  /* soft text (lower contrast) */
  --dark-text-soft: var(--tw-gray-400);
  --light-text-soft: var(--tw-gray-600);
  --text-soft: var(--dark-text-soft);
  --inv-text-soft: var(--light-text-soft);

  /* tw gray-800 */
  --dark-background-color: var(--tw-gray-800);
  --light-background-color: #fff;
  --background-color: var(--dark-background-color);
  --inv-background-color: var(--light-background-color);

  color: var(--text);
  background-color: var(--background-color);

  /* tw gray-900 */
  --dark-surface: var(--tw-gray-900);
  /* tw gray-50 */
  --light-surface: var(--tw-gray-50);
  --surface: var(--dark-surface);
  --inv-surface: var(--light-surface);
}

.inverted {
  --text: var(--inv-text);
  --text-heading: var(--inv-text-heading);
  --text-soft: var(--inv-text-soft);

  --background-color: var(--inv-background-color);

  --surface: var(--inv-surface);

  & > * {
    --inv-text: var(--text);
    --inv-text-heading: var(--text-heading);
    --inv-text-soft: var(--text-soft);

    --inv-background-color: var(--background-color);

    --inv-surface: var(--surface);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: start; */
  min-width: 320px;
  min-height: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-heading);
}

p {
  margin-block: 1em;
}
h1 {
  font-size: 2.5rem;
  margin-block: 1.625rem;
}
h2 {
  font-size: 2rem;
  margin-block-start: 1.5em;
  margin-block-end: 1em;
}
h3 {
  font-size: 1.5rem;
  margin-block-start: 1.5em;
  margin-block-end: 0.5em;
}
h4 {
  font-size: 1.25rem;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}

button,
.btn {
  --scale-bg-color: var(--surface);
  background-color: var(--surface);
  padding-block: 1rem;
  padding-inline: 1.5rem;
  border-radius: 8px;
  border: 1px solid transparent;
  color: var(--text);
  transition:
    background-color 300ms,
    border-color 300ms;
}
:is(button, .btn):hover {
  /* background-color: #1f2937; */
  border-color: #646cff;
}
:is(button, .btn):focus,
:is(button, .btn):focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:is(button, .btn):not(.scale-background-on-hover) {
  transition:
    background-color 300ms,
    border-color 300ms;
}

.scale-background-on-hover {
  position: relative;
  isolation: isolate;
  background: none;
  border: none;
  &:hover {
    &:is(button, .btn)::after {
      border-color: #646cff;
    }
    border: none;
  }
  &:focus,
  &:focus-visible {
    &::after {
      outline: 4px auto -webkit-focus-ring-color;
    }
    outline: none;
  }
}

.scale-background-on-hover::after {
  background-color: var(--scale-bg-color);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition:
    transform 300ms,
    border-color 300ms;
  border-radius: inherit;
  will-change: transform, border-color;
}

:is(button, .btn).scale-background-on-hover::after {
  border: 1px solid transparent;
}

.scale-background-on-hover:is(:hover, :focus-visible)::after {
  transform: scale(1.1);
}

/* input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"] {
  appearance: none;
  border: none;
  color: inherit;
  border-bottom: solid 2px currentColor;
  padding: 0 4px;
  width: fit-content;
}

input:focus {
  outline-offset: -1px;
} */

ul,
ol {
  margin-block: 1em;
}

hgroup > :is(h1, h2, h3, h4, h5, h6) {
  margin-block-end: 0.5em;
}

hgroup p {
  margin-block: 0.5em;
  color: var(--text-soft);
  font-size: 1.25em;
}

hgroup p:last-of-type {
  margin-block-start: 0.5em;
  margin-block-end: 1em;
}

svg.lucide {
  display: inline-block;
  vertical-align: middle;
  margin-inline: 0.25em;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: var(--light-text);
    --inv-text: var(--dark-text);
    --text-heading: var(--light-text-heading);
    --inv-text-heading: var(--dark-text-heading);
    --text-soft: var(--light-text-soft);
    --inv-text-soft: var(--dark-text-soft);

    --background-color: var(--light-background-color);
    --inv-background-color: var(--dark-background-color);

    --surface: var(--light-surface);
    --inv-surface: var(--dark-surface);
  }
  a:hover {
    color: #747bff;
  }
}

.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba(0 0 0 / 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}

.react-aria-Modal {
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  border-radius: 6px;
  background: var(--overlay-background);
  color: var(--text-color);
  border: 1px solid var(--gray-400);
  outline: none;
  max-width: 19rem;

  &[data-entering] {
    animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .react-aria-TextField {
    margin-bottom: 8px;
  }
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

/* Tiles are non-interactive cards (that's what I'm calling them) */
.card,
.tile {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--surface);
  /* --inv-background-color: var(--inv-surface); */
  /* background-color: var(--background-color); */

  /* & > * {
    --surface: light-dark(
      var(--light-background-color),
      var(--dark-background-color)
    );
    --inv-surface: light-dark(
      var(--dark-background-color),
      var(--light-background-color)
    );
  } */
}
