/*
  using selections of Tailwind's color palette:
    https://tailwindcss.com/docs/colors
*/
@import url("@react-aria/example-theme");
@import url(./tw-colors.css);

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* tw gray-50 */
  --dark-text: var(--tw-gray-50);
  /* tw gray-800 */
  --light-text: var(--tw-gray-800);
  --text: var(--dark-text);
  --text-soft: var(--tw-gray-500);
  color: var(--text);

  /* tw gray-800 */
  --dark-bg: var(--tw-gray-800);
  --light-bg: #fff;
  --background-color: var(--dark-bg);
  background-color: var(--background-color);

  /* tw gray-900 */
  --dark-surface: var(--tw-gray-900);
  /* tw gray-50 */
  --light-surface: var(--tw-gray-50);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: start; */
  min-width: 320px;
  min-height: 100svh;
}

p {
  margin-block: 1em;
}
h1 {
  margin-block: 0.67em;

  &.title {
    font-size: 3.5em;
    font-weight: normal;
  }
}
h2 {
  margin-block: 0.83em;
}
h3 {
  margin-block: 1em;
}

button,
.btn {
  --bg-color: var(--dark-surface);
  background-color: var(--bg-color);
  padding-block: 1rem;
  padding-inline: 1.5rem;
  border-radius: 8px;
  border: 1px solid transparent;
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition:
    background-color 250ms,
    border-color 250ms;
}
:is(button, .btn):hover {
  /* background-color: #1f2937; */
  border-color: #646cff;
}
:is(button, .btn):focus,
:is(button, .btn):focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:is(button, .btn).var-inverted {
  --bg-color: var(--light-surface);
  color: var(--light-text);
}

:is(button, .btn).scale-background-on-hover {
  transition:
    background-color 250ms,
    border-color 250ms,
    transform 250ms;
}

.scale-background-on-hover {
  position: relative;
  isolation: isolate;
  background: none;
  border: none;
  &:hover {
    &:is(button, .btn)::after {
      border-color: #646cff;
    }
    border: none;
  }
  &:focus,
  &:focus-visible {
    &::after {
      outline: 4px auto -webkit-focus-ring-color;
    }
    outline: none;
  }
}

.scale-background-on-hover::after {
  background-color: var(--bg-color);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition:
    transform 250ms,
    border-color 250ms;
  border-radius: inherit;
}

:is(button, .btn).scale-background-on-hover::after {
  border: 1px solid transparent;
}

.scale-background-on-hover:is(:hover, :focus-visible)::after {
  transform: scale(1.1);
}

/* input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"] {
  appearance: none;
  border: none;
  color: inherit;
  border-bottom: solid 2px currentColor;
  padding: 0 4px;
  width: fit-content;
}

input:focus {
  outline-offset: -1px;
} */

ul,
ol {
  margin-block: 1em;
}

hgroup h1 {
  margin-block-end: 0.5em;
}

hgroup p {
  margin-block: 0.5em;
  /* font-weight: bold; */
  font-size: 1.25em;
}

hgroup p:last-of-type {
  margin-block-start: 0.5em;
  margin-block-end: 1em;
}

svg.lucide {
  display: inline-block;
  vertical-align: middle;
  margin-inline: 0.25em;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: var(--light-text);
    --background-color: var(--light-bg);
  }
  a:hover {
    color: #747bff;
  }
  :is(button, .btn) {
    --bg-color: var(--light-surface);
  }
  :is(button, .btn).var-inverted {
    /* color: rgb(from var(--dark-text) r g b / 1); */
    color: var(--dark-text);
    --bg-color: var(--dark-surface);
  }
}

.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba(0 0 0 / 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}

.react-aria-Modal {
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  border-radius: 6px;
  background: var(--overlay-background);
  color: var(--text-color);
  border: 1px solid var(--gray-400);
  outline: none;
  max-width: 19rem;

  &[data-entering] {
    animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .react-aria-TextField {
    margin-bottom: 8px;
  }
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
