main.main-home {
  --alt-bg: var(--dark-surface);
}

main.main-home > section:nth-of-type(even) {
  background-color: var(--alt-bg);
}

main.main-home > section {
  /* padding-top: 1.5rem; */
  /* padding-bottom: 1.5rem; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  max-width: 80rem;
  display: flow-root;

  hgroup {
    text-align: center;
  }
}

/* Hero */
main.main-home > section#hero {
  padding: 0;
  /* display: flex; */
  /* padding-top: 5rem; */
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  text-align: center;

  .cta-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    @media (min-width: 40rem) {
      flex-direction: row;
    }
  }

  .lucide {
    width: 0.8lh;
    height: 0.8lh;
    vertical-align: middle;
  }

  .free-access {
    margin-top: 2rem;
    color: var(--text-soft);

    & > p:first-of-type {
      margin-bottom: 0.5rem;
    }
    & > p:last-of-type {
      margin-top: 0.5rem;
    }
  }
}

main.main-home .benefits {
  display: flex;
  /* margin-bottom: 4rem; */
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  /* color: #374151; */

  & > div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.plan {
  button {
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  main.main-home {
    --alt-bg: var(--light-surface);
  }
}
