/* main.main-home {
} */

main.main-home > section {
  /* padding-top: 1.5rem; */
  /* padding-bottom: 1.5rem; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  max-width: 80rem;
  display: flow-root;

  background-color: var(--background-color);

  hgroup {
    text-align: center;
  }
}

/* Hero */
main.main-home > section#hero {
  padding: 0;
  /* display: flex; */
  /* padding-top: 5rem; */
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  text-align: center;

  .cta-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    @media (min-width: 40rem) {
      flex-direction: row;
    }
  }

  .lucide {
    width: 0.8lh;
    height: 0.8lh;
    vertical-align: middle;
  }

  .free-access {
    margin-top: 2rem;
    color: var(--text-soft);

    & > p:first-of-type {
      margin-bottom: 0.5rem;
    }
    & > p:last-of-type {
      margin-top: 0.5rem;
    }
  }
}

main.main-home .benefits {
  display: flex;
  /* margin-bottom: 4rem; */
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  /* color: #374151; */

  & > div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.features {
  margin-block: 2rem;

  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;

  .feat-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;

    background-color: var(--background-color);
    color: var(--text);

    transition-property: color, background-color;
    transition-duration: 300ms;
    will-change: color, background-color;

    .lucide {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  & .tile:hover .feat-icon-wrap {
    background-color: var(--inv-background-color);
    color: var(--inv-text);
  }

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 64rem) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.features .tile {
  /* background-color: var(--background-color); */
  transition:
    box-shadow 500ms,
    transform 500ms;
  will-change: box-shadow, transform;

  &:hover {
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transform: translateY(-0.5rem);
  }
}

.plan {
  button {
    width: 100%;
  }
}

/* @media (prefers-color-scheme: light) {
  main.main-home {
    --alt-bg: var(--light-surface);
  }
} */
